{% assign title = "Details" %}
{% include section_header.html %}

<div class="row-fluid" id="details">
  <div class="span6 faq">
    <h3>What is this?</h3>
    <p>A group of hackers and entrepreneurs.</p>
    <p>We meet once a week and work on whatever interests us &mdash; startups, side projects, open source, consulting, writing, or anything else that needs doing.<p>
  </div>

  <div class="span6 faq">
    <h3>Who&rsquo;s invited?</h3>
    <p>You. Your friends. We&rsquo;re open to anyone who wants to come.</p>
    <p>Bring your own stuff to work on or meet someone new in the group
      and do something awesome together.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 faq">
    <h3>Where and when is it?</h3>
    <p>Monday nights from 6:30pm to 9:30pm<p>
    <p>McAlister&rsquo;s Deli on <a href="http://in.mcalistersdeli.com/location-map/10">96th &amp; Meridian</a><p>
  </div>
  <div class="span6 faq">
    <h3>How do I learn more?</h3>
    <p>Easy&mdash;sign up for our newsletter. We'll send out infrequent updates.</p>
    <!-- // MAILCHIMP SUBSCRIBE CODE \\ -->
    <a href="http://eepurl.com/nCSOj">Subscribe to our newsletter</a>
    <!-- \\ MAILCHIMP SUBSCRIBE LINK // -->

    and/or

    <div>
      <a href="https://twitter.com/IndyStartupLab" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @IndyStartupLab</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 faq">
    <h3>What do I eat?</h3>
    <p>Here&rsquo;s the <a href="http://in.mcalistersdeli.com/uploads/assets/pdf/McIndy-Menu-v3.pdf">menu</a>. How am I supposed to know what you like!?<p>
  </div>
</div>
