{% assign title = "Project Gallery" %}
{% include section_header.html %}

<p class="project-blurb">
  Stuff we've built, launched, or hacked on at Indy Startup Lab
</p>

<div class="row-fluid project-row">
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="https://railsthemes.com" class="project">
        <img src="/assets/img/railsthemes.png" alt="">
      </a>
      <div class="project-desc">
        <h3>RailsThemes</h3>
        <p>Beautiful themes for your Rails app, sliced into HTML and CSS
          and customized for your gems and tools.</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="https://railsthemes.com">
            RailsThemes.com
          </a>
          <span class="pull-right">Anthony and Eliza</span>
        </p>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="https://www.moraleapp.com/" class="project">
        <img src="/assets/img/moraleapp.png" alt="">
      </a>
      <div class="project-desc">
        <h3>Morale</h3>
        <p>Daily team mood tracking.</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="https://www.moraleapp.com/">
            MoraleApp.com
          </a>
          <span class="pull-right">Matt</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid project-row">
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="http://www.awesomecontroller.com/" class="project">
        <img src="/assets/img/awesomecontroller.png" alt="">
      </a>
      <div class="project-desc">
        <h3>Awesome Controller</h3>
        <p>Awesome Controller lets you play retro video game systems with modern wireless controllers.</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="http://www.awesomecontroller.com/">
            AwesomeController.com
          </a>
          <span class="pull-right">Kyle, Anthony, Wes, Alex, Kail</span>
        </p>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="http://www.paperplane.io/" class="project">
        <img src="/assets/img/paperplane.png" alt="">
      </a>
      <div class="project-desc">
        <h3>paperplane</h3>
        <p>Radically simple static hosting. Dropbox in. Website out.</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="http://www.paperplane.io/">
            paperplane.io
          </a>
          <span class="pull-right">Kyle and Tony</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid project-row">
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="http://www.classrealm.com/" class="project">
        <img src="/assets/img/classrealm.png" alt="">
      </a>
      <div class="project-desc">
        <h3>ClassRealm</h3>
        <p>ClassRealm provides a platform for teachers to introduce gamification into their classrooms, encourage better behavior patterns, and promote creative expression.</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="http://www.classrealm.com/">
            ClassRealm.com
          </a>
          <span class="pull-right">Dave and Courtny</span>
        </p>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="https://github.com/shipstar/space-shooter" class="project">
        <img src="/assets/img/genericspaceshooter.png" alt="">
      </a>
      <div class="project-desc">
        <h3>Generic Space Shooter</h3>
        <p>A generic space shooter game using CoffeeScript and HTML5 canvas, like Galaga but store brand</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="https://github.com/shipstar/space-shooter">
            Generic Space Shooter
          </a>
          <span class="pull-right">Kyle and Anthony</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid project-row">
  <div class="span6">
    <div class="thumbnail project-summary">
      <a href="http://www.fivedayprototype.com/" class="project">
        <img src="/assets/img/fivedayprototype.png" alt="">
      </a>
      <div class="project-desc">
        <h3>5 Day Prototype</h3>
        <p>Get the ideas out of your head and into the world. Five day rapid prototyping for your startup or product.</p>
      </div>
      <div>
        <p class="clearfix stick-bottom">
          <a class="pull-left" href="http://www.fivedayprototype.com/">
            fivedayprototype.com
          </a>
          <span class="pull-right">Kyle and Tony</span>
        </p>
      </div>
    </div>
  </div>
  <div class="span6">
  </div>
</div>